In [1]:
import re
import os
from collections import defaultdict
import pandas as pd
from pathlib import Path # For data paths
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen

pd.set_option('display.max_rows', 500)

In [2]:
def tableDataText(table):    
    """Parses a html segment started with tag <table> followed 
    by multiple <tr> (table rows) and inner <td> (table data) tags. 
    It returns a list of rows with inner columns. 
    Accepts only one <th> (table header/data) in the first row.
    """
    def rowgetDataText(tr, coltag='td'): # td (data) or th (header)       
        return [td.get_text(strip=True) for td in tr.find_all(coltag)]  
    rows = []
    trs = table.find_all('tr')
    headerow = rowgetDataText(trs[0], 'th')
    if headerow: # if there is a header row include first
        rows.append(headerow)
        trs = trs[1:]
    for tr in trs: # for every table row
        rows.append(rowgetDataText(tr, 'td') ) # data row       
    return rows

In [3]:
def format_color_groups(df):
    colors = ['gold', 'lightblue']
    x = df.copy()
    factor = 0.5

    style = f'background-color: {colors[0]}'
    style2 = f'background-color: {colors[0]}'
    x.loc[x['Difference'] < factor, :] = style
        
    return x

In [4]:
headers = {'Accept-Encoding': 'identity'}
try:
    response = requests.get("https://www.borzamalta.com.mt/?handler=TradingBoard", headers=headers)
except requests.ConnectionError as error:
    print(error)

In [5]:
list_table=[]
bs = BeautifulSoup(response.content)
tables = bs.findAll('table')
for table in tables:
    df = pd.DataFrame(tableDataText(table))
    if len(df.index) > 15:
        df=df.rename(columns=df.iloc[0]).drop(df.index[0])
        list_table.append(df)

In [ ]:
list_table

Table 2 - Corporate Bonds
Table 5 - Regulated Market
Table 7 - Corporate Bonds offers

In [9]:
trades = list_table[5].set_index('Symbol Code').filter(regex='A$|B$', axis=0)
trades

,Security Name,Best Bid Count,Best Bid Volume,Best Bid Price,Best Offer Price,Best Offer Volume,Best Offer Count
Symbol Code,,,,,,,
BD27A,4.75% Best Deal Properties Holding plc 2027,1,"7,000",99.000,100.950,"7,000",1

In [39]:
offers = list_table[-3].set_index('Symbol Code')
offers = offers.replace('-', np.NaN)
offers['Best Offer Price'] = offers['Best Offer Price'].astype(float)
offers['Best Bid Count'] = offers['Best Bid Count'].astype(float)
offers['Best Bid Price'] = offers['Best Bid Price'].astype(float)
offers['Yield'] = offers['Security Name'].str.extract('((?:\d+%)|(?:\d+\.\d+%))')
offers['Maturity'] = offers['Security Name'].str.extract('(2\d\d\d)').astype(int)
offers['YTM'] = (((offers['Yield'].str.rstrip('%').astype('float')) + (100-offers['Best Offer Price'])/(offers['Maturity']-2023))*100 / ((100+offers['Best Offer Price'])/2))
offers['YTM'] = np.round(offers['YTM'],2)
offers = offers.sort_values(by=['YTM'], ascending=False)
offers

,Security Name,Best Bid Count,Best Bid Volume,Best Bid Price,Best Offer Price,Best Offer Volume,Best Offer Count,Yield,Maturity,YTM
Symbol Code,,,,,,,,,,
MT28A,4.85% Melite Finance plc 2028,NaN,NaN,NaN,90.00,"75,000",1,4.85%,2028,7.21
MS26A,4.5% MedservRegis plc 2026,NaN,NaN,NaN,95.40,"53,600",1,4.5%,2026,6.18
MS26B,5.75% MedservRegis plc 2026,1.0,"20,600",95.00,99.50,"20,000",1,5.75%,2026,5.93
GM30A,6.25% GPH Malta Finance plc 2030,1.0,"3,000",100.50,102.50,"20,000",1,6.25%,2030,5.82
PF33A,6% Pharmacare Finance plc 2033,1.0,"3,000",100.50,102.49,"10,000",1,6%,2033,5.68
BV30B,3.5% Bank Of Valletta plc 2030,1.0,"8,000",87.00,87.49,"10,000",1,3.5%,2030,5.64
TG26A,5.9% Together Gaming Solutions plc 2026,1.0,"2,000",100.00,100.90,"6,000",1,5.9%,2026,5.57
EN29A,4.5% Endo Finance plc 2029,NaN,NaN,NaN,95.00,"50,000",1,4.5%,2029,5.47
PH28A,4.15% Phoenicia Finance Company plc 2028,1.0,"10,000",92.70,94.75,"11,700",1,4.15%,2028,5.34
IH25A,5.75% International Hotel Investments plc 2025,1.0,"3,000",100.01,100.90,"26,100",1,5.75%,2025,5.28
BV31A,3.75% Bank Of Valletta plc 2031,1.0,"25,000",86.00,90.00,"48,000",1,3.75%,2031,5.26
DF26A,5% Dizz Finance plc 2026,1.0,"5,000",99.00,99.49,"13,000",1,5%,2026,5.18
SD27A,4.35% SD Finance plc 2027,2.0,"12,300",96.00,97.00,"4,000",1,4.35%,2027,5.18
6PM25,5.1% 6pm Holdings plc 2025,1.0,"1,900",99.50,100.00,"10,000",1,5.1%,2025,5.10
IH24A,6% International Hotel Investments plc 2024,1.0,"20,000",100.10,100.90,"10,000",1,6%,2024,5.08
IB32A,5% Izola Bank plc 2032,1.0,"10,000",95.01,99.49,"10,000",1,5%,2032,5.07
VH32A,5% Von der Heyden Group Finance p.l.c 2032,1.0,"15,000",99.00,99.96,"5,000",1,5%,2032,5.01
SH32A,4.5% Shoreline Mall plc 2032,6.0,"15,000",91.50,96.99,"2,500",1,4.5%,2032,4.91
JD32A,4.85% JD Capital plc 2032,1.0,"5,000",99.52,99.99,"5,000",2,4.85%,2032,4.85
CE33A,5% CF Estates Finance plc 2033,NaN,NaN,NaN,101.35,"30,000",1,5%,2033,4.83
MM26A,4.8% Mediterranean Maritime Hub Finance plc 2026,1.0,"10,000",95.01,99.99,"13,000",1,4.8%,2026,4.80
MF24A,5.3% Mariner Finance plc 2024,1.0,"4,800",100.00,100.50,600,1,5.3%,2024,4.79
MB27A,5% MeDirect Bank Malta plc 2027,1.0,"25,000",100.00,100.99,"25,000",1,5%,2027,4.73
ON34A,4.5% The Ona plc 2034,1.0,"10,000",90.02,98.00,"364,100",2,4.5%,2034,4.73
SH26A,4% Shoreline Mall plc 2026,1.0,"3,000",96.00,98.00,"2,500",1,4%,2026,4.71
MI27A,5.25% Mediterranean Investments Holding plc 2027,1.0,"10,000",98.01,101.99,"10,000",1,5.25%,2027,4.71
MR26A,4% Merkanti Holding plc 2026,1.0,"10,000",96.21,98.00,"15,100",2,4%,2026,4.71
MO31A,3.65% Mizzi Organisation Finance plc 2031,1.0,"25,000",90.00,93.00,"37,200",1,3.65%,2031,4.69
CB27A,4.4% Central Business Centres plc 2027,1.0,"10,000",96.01,99.00,"3,000",1,4.4%,2027,4.67
QW33A,5.25% Qawra Palace plc 2033,1.0,"5,200",101.00,105.00,"15,500",1,5.25%,2033,4.63
DN33A,4.75% Dino Fino Finance plc 2033,1.0,"3,300",96.00,100.99,"3,900",1,4.75%,2033,4.63
MF32A,5% Mariner Finance plc 2032,1.0,"12,000",100.00,102.99,"10,000",1,5%,2032,4.60
ST29A,3.65% Stivala Group Finance plc 2029,2.0,"40,000",93.00,94.99,"2,100",1,3.65%,2029,4.60
SM31A,4.65% Smartcare Finance plc 2031,1.0,"2,600",98.00,100.50,"6,400",1,4.65%,2031,4.58
MB29A,4% MeDirect Bank Malta plc 2029,1.0,"25,000",91.50,97.00,"25,000",1,4%,2029,4.57
GO31A,3.5% GO plc 2031,1.0,"10,000",91.03,93.00,"11,800",4,3.5%,2031,4.53
HF28A,3.85% Hili Finance Company plc 2028,1.0,500,96.50,96.98,"6,000",1,3.85%,2028,4.52
IB25A,4.5% Izola Bank plc 2025,1.0,"8,000",99.50,99.99,"10,000",1,4.5%,2025,4.51
MY32A,4.3% Mercury Projects Finance plc 2032,2.0,"30,000",96.00,98.49,"7,000",1,4.3%,2032,4.50
HF29A,3.8% Hili Finance Company plc 2029,1.0,"20,000",91.10,96.30,"10,000",1,3.8%,2029,4.50
BN32A,4.5% BNF Bank plc 2032,1.0,"12,000",96.01,100.00,"11,700",2,4.5%,2032,4.50
GH27A,4.5% Grand Harbour Marina plc 2027,2.0,"20,000",95.01,100.00,"20,000",1,4.5%,2027,4.50
CB33A,4% Central Business Centres plc 2033,NaN,NaN,NaN,95.99,"10,000",1,4%,2033,4.49
BD27A,4.75% Best Deal Properties Holding plc 2027,1.0,"7,000",99.00,100.95,"7,000",1,4.75%,2027,4.49
PC26A,3.75% Premier Capital plc 2026,1.0,"8,500",96.50,98.00,"18,900",2,3.75%,2026,4.46
SM32A,4.65% Smartcare Finance plc 2032,1.0,"6,000",99.00,101.50,"3,500",1,4.65%,2032,4.45
GP27A,4.75% GAP Group plc 2027,2.0,"56,900",101.00,101.10,"20,000",1,4.75%,2027,4.45
G332A,4.5% G3 Finance plc 2032,NaN,NaN,NaN,100.50,"3,400",1,4.5%,2032,4.43
BB33A,5.25% Bonnici Bros. Properties plc 2033,3.0,"11,000",100.00,106.90,"20,000",1,5.25%,2033,4.41
BV30A,3.5% Bank Of Valletta plc 2030,1.0,"25,000",81.00,94.50,"25,000",1,3.5%,2030,4.41
MY31A,4.25% Mercury Projects Finance plc 2031,1.0,"3,000",96.00,99.00,"2,100",1,4.25%,2031,4.40
SP29A,4% SP Finance plc 2029,1.0,"10,000",91.51,98.00,800,1,4%,2029,4.38
HD26A,4.35% Hudson Malta plc 2026,1.0,"10,600",95.50,100.00,"60,000",1,4.35%,2026,4.35
HP25A,4.5% Hili Properties plc 2025,1.0,"10,000",99.01,100.30,"3,500",1,4.5%,2025,4.34
CC30A,4% Cablenet Communication Systems plc 2030,1.0,"10,000",96.51,98.00,"4,000",1,4%,2030,4.33
SA32A,4.55% St Anthony Co plc 2032,1.0,"3,000",98.00,101.90,"13,400",2,4.55%,2032,4.30
IH26B,4% International Hotel Investments plc 2026,1.0,"9,500",98.00,99.20,"12,000",1,4%,2026,4.28
HF27A,4% Hili Finance Company plc 2027,1.0,"1,500",97.95,99.00,"52,500",4,4%,2027,4.27
EF27A,4% Eden Finance plc 2027,1.0,"15,000",98.00,99.00,"7,600",1,4%,2027,4.27
GP26A,3.9% GAP Group plc 2026,1.0,"10,000",97.01,99.00,"2,000",1,3.9%,2026,4.25
IZ29A,4.25% IZI Finance plc 2029,1.0,"20,000",93.00,100.00,"5,500",2,4.25%,2029,4.25
ST27A,4% Stivala Group Finance plc 2027,1.0,100,98.75,99.10,"1,100",1,4%,2027,4.24
AX29A,3.75% AX Group plc 2029,1.0,"10,000",90.01,97.40,"3,300",1,3.75%,2029,4.24
CB25A,5.25% Central Business Centres plc 2025,1.0,"10,000",98.01,102.00,"10,000",1,5.25%,2025,4.21
AX24A,6% AX Investments plc 2024,1.0,"7,200",101.00,101.75,"2,700",1,6%,2024,4.21
MY27A,3.75% Mercury Projects Finance plc 2027,1.0,"10,000",95.01,98.50,"3,000",1,3.75%,2027,4.16
AX32A,3.5% AX Real Estate plc 2032,1.0,"20,000",88.00,95.00,"50,000",1,3.5%,2032,4.16
MP32A,4% Malta Properties Company plc 2032,1.0,"10,000",92.01,98.99,"2,200",1,4%,2032,4.13
EX28A,4% Exalco Finance plc 2028,1.0,"5,000",98.00,99.50,"10,000",1,4%,2028,4.11
IH31A,3.65% International Hotel Investments plc 2031,1.0,"4,000",92.75,97.00,"42,400",2,3.65%,2031,4.09
LS31A,4% LifeStar Insurance plc 2031,NaN,NaN,NaN,99.50,"30,000",1,4%,2031,4.07
CF26A,4.25% CPHCL Finance plc 2026,1.0,"5,000",99.00,100.50,"16,000",1,4.25%,2026,4.07
BX27A,3.75% Bortex Group Finance plc 2027,4.0,"6,000",96.00,98.90,"16,000",1,3.75%,2027,4.05
BR31A,3.9% Browns Pharma Holdings plc 2031,1.0,"1,000",97.50,99.00,"11,800",2,3.9%,2031,4.05
TI27A,3.75% Tumas Investment plc 2027,1.0,"10,000",93.60,98.90,"6,200",2,3.75%,2027,4.05
VR27A,3.75% Virtu Finance plc 2027,1.0,"7,000",96.50,99.00,"1,200",1,3.75%,2027,4.02
MB29B,4% MeDirect Bank Malta plc 2029,NaN,NaN,NaN,100.00,"4,000",1,4%,2029,4.00
IH26A,4% International Hotel Investments plc 2026,1.0,"6,000",99.30,100.00,"53,000",2,4%,2026,4.00
AX26A,3.25% AX Group plc 2026,1.0,"2,000",95.50,98.00,"10,900",1,3.25%,2026,3.96
TM29A,3.75% Tum Finance plc 2029,12.0,"40,700",95.00,98.94,"12,300",1,3.75%,2029,3.95
PZ26A,3.9% Plaza Centres plc 2026,1.0,"50,000",93.01,99.90,"50,000",1,3.9%,2026,3.94
1923A,5.1% 1923 Investments plc 2024,1.0,"10,000",98.01,101.25,"46,500",1,5.1%,2024,3.83
MD26A,4% Midi plc 2026,1.0,"20,000",98.25,101.50,"3,000",1,4%,2026,3.47
GP25A,3.7% GAP Group plc 2025,1.0,"10,000",96.01,100.49,"25,000",1,3.7%,2025,3.45
AP30A,3.25% APS Bank plc 2030,1.0,"25,000",90.00,99.95,"25,000",1,3.25%,2030,3.26
SF27A,3.5% Simonds Farsons Cisk 2027,1.0,"20,000",98.01,101.50,"6,500",2,3.5%,2027,3.10
TI24A,5% Tumas Investment plc 2024,2.0,"19,400",100.00,102.00,"5,000",1,5%,2024,2.97
HM24A,5% Hal Mann Vella Group plc 2024,2.0,"20,000",100.50,103.00,"3,500",1,5%,2024,1.97
MI23A,5.5% Mediterranean Investments Holding plc 2023,1.0,"10,000",98.15,100.58,"3,500",1,5.5%,2023,-inf
IH23A,5.8% International Hotel Investments plc 2023,1.0,"10,000",98.17,100.99,"5,000",1,5.8%,2023,-inf
GP23A,4.25% GAP Group plc 2023,1.0,"10,000",97.01,102.00,"36,000",2,4.25%,2023,-inf
UF23A,5.3% United Finance plc 2023,1.0,"10,000",98.21,100.29,"36,200",1,5.3%,2023,-inf
BD24A,4.25% Best Deal Properties Holding plc 2024,1.0,"6,600",102.50,NaN,NaN,NaN,4.25%,2024,NaN
MB27B,5% MeDirect Bank Malta plc 2027,NaN,NaN,NaN,NaN,NaN,NaN,5%,2027,NaN
MS29A,5% MedservRegis plc 2029,1.0,"120,000",100.00,NaN,NaN,NaN,5%,2029,NaN
MU32A,6% Multitude Bank plc 2032,NaN,NaN,NaN,NaN,NaN,NaN,6%,2032,NaN

In [19]:
total_trades = list_table[1].set_index('Symbol Code')
total_trades

,Volume Traded,Value Traded,Trades,High Price,Low Price,Open Price,Closing Price,Change
Symbol Code,,,,,,,,
G33A,"3,600","3,700.80",2,102.800,102.800,102.800,102.800,-0.140

In [20]:
df = pd.merge(trades,offers[['Best Offer Price','Best Offer Volume']], left_index=True, right_index=True, how='left')

In [21]:
df2 = pd.merge(df, total_trades[['Closing Price']], left_index=True, right_index=True, how='left')

In [22]:
df2

,Security Name,Best Bid Count,Best Bid Volume,Best Bid Price,Best Offer Price_x,Best Offer Volume_x,Best Offer Count,Best Offer Price_y,Best Offer Volume_y,Closing Price
Symbol Code,,,,,,,,,,
HSB,HSBC Bank Malta plc,1,"3,156",0.750,0.770,"63,582",2,NaN,NaN,NaN
MIA,Malta International Airport plc,1,"3,410",5.850,5.900,"14,432",5,NaN,NaN,NaN

In [23]:
offers_price = pd.merge(offers, total_trades[['Closing Price']], left_index=True, right_index=True, how='left')
offers_price

,Security Name,Best Bid Count,Best Bid Volume,Best Bid Price,Best Offer Price,Best Offer Volume,Best Offer Count,Closing Price
Symbol Code,,,,,,,,
GP25A,3.7% GAP Group plc 2025,-,-,-,99.990,"20,000",1,NaN
MB29A,4% MeDirect Bank Malta plc 2029,-,-,-,99.990,"25,000",1,NaN
MR26A,4% Merkanti Holding plc 2026,1,"10,000",94.000,99.990,"2,500",1,NaN
LS31A,4% LifeStar Insurance plc 2031,-,-,-,99.900,"30,000",1,NaN
BX27A,3.75% Bortex Group Finance plc 2027,-,-,-,99.750,"50,000",2,NaN
IH26B,4% International Hotel Investments plc 2026,1,"10,000",93.010,99.500,"20,000",1,NaN
TI27A,3.75% Tumas Investment plc 2027,-,-,-,99.500,"3,100",1,NaN
AX29A,3.75% AX Group plc 2029,-,-,-,99.500,"4,300",1,NaN
BR31A,3.9% Browns Pharma Holdings plc 2031,-,-,-,99.500,"5,000",1,NaN
CB33A,4% Central Business Centres plc 2033,1,"2,000",98.000,99.490,"11,000",1,NaN
MY27A,3.75% Mercury Projects Finance plc 2027,-,-,-,99.490,"11,000",1,NaN
PC26A,3.75% Premier Capital plc 2026,1,"2,200",98.500,99.490,"10,300",1,NaN
BV30A,3.5% Bank Of Valletta plc 2030,-,-,-,99.450,"27,000",1,NaN
VR27A,3.75% Virtu Finance plc 2027,1,"10,000",95.000,99.430,"15,600",1,NaN
BV31A,3.75% Bank Of Valletta plc 2031,-,-,-,99.420,"147,000",1,NaN
SP29A,4% SP Finance plc 2029,1,"10,000",93.000,99.000,"15,000",1,NaN
CC30A,4% Cablenet Communication Systems plc 2030,-,-,-,99.000,"42,000",3,NaN
DF26A,5% Dizz Finance plc 2026,-,-,-,99.000,"2,000",1,NaN
GP26A,3.9% GAP Group plc 2026,1,"5,000",98.500,99.000,"47,100",2,NaN
EN29A,4.5% Endo Finance plc 2029,-,-,-,99.000,"50,000",1,NaN
SH32A,4.5% Shoreline Mall plc 2032,1,"8,000",95.000,98.990,"1,700",1,NaN
PH28A,4.15% Phoenicia Finance Company plc 2028,-,-,-,98.430,"6,000",1,NaN
HF29A,3.8% Hili Finance Company plc 2029,1,"50,000",92.500,98.000,"11,000",2,NaN
AX32A,3.5% AX Real Estate plc 2032,1,"1,400",95.600,97.990,"10,000",1,NaN
MS26A,4.5% MedservRegis plc 2026,1,"40,000",96.000,97.500,"50,000",1,NaN
TM29A,3.75% Tum Finance plc 2029,-,-,-,97.000,"6,000",1,NaN
MS23A,6% MedservRegis plc 2023,-,-,-,97.000,"1,900",1,NaN
BV30B,3.5% Bank Of Valletta plc 2030,1,"10,000",91.000,96.500,"25,000",1,NaN
GO31A,3.5% GO plc 2031,1,"4,000",94.000,95.900,"25,000",1,NaN
MS26B,5.75% MedservRegis plc 2026,-,-,-,95.500,"55,000",1,NaN
HF28A,3.85% Hili Finance Company plc 2028,1,"10,000",94.000,95.500,"27,900",2,NaN
MO31A,3.65% Mizzi Organisation Finance plc 2031,1,"92,000",94.000,95.000,"8,000",1,NaN
AP30A,3.25% APS Bank plc 2030,-,-,-,94.990,"25,000",1,NaN
IH31A,3.65% International Hotel Investments plc 2031,1,"20,000",92.000,94.500,"28,000",1,NaN
IH25A,5.75% International Hotel Investments plc 2025,1,"10,000",95.010,104.890,"16,900",1,NaN
IB32A,5% Izola Bank plc 2032,2,"34,000",100.000,104.000,"10,000",1,NaN
AX24A,6% AX Investments plc 2024,-,-,-,103.500,200,1,NaN
6PM25,5.1% 6pm Holdings plc 2025,1,"2,100",101.000,103.000,"3,000",1,NaN
CB25A,5.25% Central Business Centres plc 2025,1,"4,000",100.300,103.000,"3,000",1,NaN
MU32A,6% Multitude Bank plc 2032,1,"7,000",100.000,102.900,"10,000",1,NaN
BD24A,4.25% Best Deal Properties Holding plc 2024,1,"50,000",102.500,102.750,"36,400",1,NaN
TI24A,5% Tumas Investment plc 2024,1,"10,000",101.700,102.700,"3,600",1,NaN
MI23A,5.5% Mediterranean Investments Holding plc 2023,1,"6,300",99.990,102.550,"7,700",1,NaN
ON34A,4.5% The Ona plc 2034,1,"3,000",100.500,102.500,"19,000",2,NaN
SM32A,4.65% Smartcare Finance plc 2032,1,"10,000",95.010,102.250,"10,000",1,NaN
GH27A,4.5% Grand Harbour Marina plc 2027,1,"35,000",100.100,102.000,"6,000",2,NaN
SA32A,4.55% St Anthony Co plc 2032,1,"5,000",100.000,101.990,"10,000",1,NaN
ST29A,3.65% Stivala Group Finance plc 2029,-,-,-,101.600,"10,000",1,NaN
SM31A,4.65% Smartcare Finance plc 2031,1,"6,000",70.060,101.510,"14,800",1,NaN
MY31A,4.25% Mercury Projects Finance plc 2031,1,"3,000",100.150,101.500,"3,000",1,NaN
HP25A,4.5% Hili Properties plc 2025,1,"5,200",100.000,101.500,"2,100",1,NaN
DN33A,4.75% Dino Fino Finance plc 2033,1,"10,000",95.010,101.500,"5,000",1,NaN
1923A,5.1% 1923 Investments plc 2024,-,-,-,101.490,"5,000",1,NaN
IH24A,6% International Hotel Investments plc 2024,1,"2,800",101.000,101.490,"8,400",1,NaN
CB27A,4.4% Central Business Centres plc 2027,1,"1,500",101.000,101.400,"10,000",1,NaN
HM24A,5% Hal Mann Vella Group plc 2024,1,"5,000",100.000,101.000,"1,700",1,NaN
HD26A,4.35% Hudson Malta plc 2026,1,"7,500",100.500,101.000,"3,000",1,NaN
SF27A,3.5% Simonds Farsons Cisk 2027,1,"2,800",100.700,101.000,"2,300",1,NaN
G332A,4.5% G3 Finance plc 2032,-,-,-,101.000,"13,000",1,NaN
MP32A,4% Malta Properties Company plc 2032,-,-,-,101.000,"20,400",2,NaN
IH23A,5.8% International Hotel Investments plc 2023,1,"20,000",100.000,100.800,"30,000",1,NaN
UF23A,5.3% United Finance plc 2023,1,"10,000",100.000,100.750,"22,500",1,NaN
EX28A,4% Exalco Finance plc 2028,1,"2,300",100.000,100.500,"3,500",1,NaN
EF27A,4% Eden Finance plc 2027,1,"6,000",99.500,100.500,"25,000",1,NaN
IH26A,4% International Hotel Investments plc 2026,1,"26,200",99.500,100.500,"6,500",1,NaN
CF26A,4.25% CPHCL Finance plc 2026,-,-,-,100.250,"4,100",1,NaN
TG26A,5.9% Together Gaming Solutions plc 2026,2,"7,000",100.000,100.200,"3,000",1,NaN
AX26A,3.25% AX Group plc 2026,-,-,-,100.000,"4,000",1,NaN
SH26A,4% Shoreline Mall plc 2026,-,-,-,100.000,"24,000",1,NaN
ST27A,4% Stivala Group Finance plc 2027,1,"30,000",98.000,100.000,"5,700",2,NaN
HF27A,4% Hili Finance Company plc 2027,1,900,98.500,100.000,"7,500",1,NaN
IZ29A,4.25% IZI Finance plc 2029,1,"3,000",99.000,100.000,"1,000",1,NaN
BN32A,4.5% BNF Bank plc 2032,-,-,-,100.000,"1,700",1,NaN
PZ26A,3.9% Plaza Centres plc 2026,-,-,-,100.000,"82,000",1,NaN
SD27A,4.35% SD Finance plc 2027,1,"10,000",95.010,100.000,"4,800",1,NaN
MM26A,4.8% Mediterranean Maritime Hub Finance plc 2026,-,-,-,100.000,"2,000",1,NaN
MY32A,4.3% Mercury Projects Finance plc 2032,1,"1,500",99.000,100.000,"14,800",2,NaN
MT28A,4.85% Melite Finance plc 2028,-,-,-,100.000,"200,000",3,NaN
MD26A,4% Midi plc 2026,1,"3,500",93.250,100.000,"41,000",3,NaN
MB27A,5% MeDirect Bank Malta plc 2027,-,-,-,-,-,-,NaN
MB27B,5% MeDirect Bank Malta plc 2027,-,-,-,-,-,-,NaN
GP23A,4.25% GAP Group plc 2023,1,"10,000",98.000,-,-,-,NaN
MB29B,4% MeDirect Bank Malta plc 2029,1,"16,000",100.000,-,-,-,NaN
IB25A,4.5% Izola Bank plc 2025,1,"41,000",102.500,-,-,-,NaN
MF24A,5.3% Mariner Finance plc 2024,1,"19,700",101.500,-,-,-,NaN
MI27A,5.25% Mediterranean Investments Holding plc 2027,2,"18,700",100.000,-,-,-,NaN

In [24]:
offers_price = offers_price.replace('-', np.nan)
offers_price['Difference'] = offers_price['Best Offer Price'].astype(float)-offers_price['Closing Price'].astype(float)
offers_price['Difference'] = offers_price['Difference'].round(2)
offers_price

,Security Name,Best Bid Count,Best Bid Volume,Best Bid Price,Best Offer Price,Best Offer Volume,Best Offer Count,Closing Price,Difference
Symbol Code,,,,,,,,,
GP25A,3.7% GAP Group plc 2025,NaN,NaN,NaN,99.990,"20,000",1,NaN,NaN
MB29A,4% MeDirect Bank Malta plc 2029,NaN,NaN,NaN,99.990,"25,000",1,NaN,NaN
MR26A,4% Merkanti Holding plc 2026,1,"10,000",94.000,99.990,"2,500",1,NaN,NaN
LS31A,4% LifeStar Insurance plc 2031,NaN,NaN,NaN,99.900,"30,000",1,NaN,NaN
BX27A,3.75% Bortex Group Finance plc 2027,NaN,NaN,NaN,99.750,"50,000",2,NaN,NaN
IH26B,4% International Hotel Investments plc 2026,1,"10,000",93.010,99.500,"20,000",1,NaN,NaN
TI27A,3.75% Tumas Investment plc 2027,NaN,NaN,NaN,99.500,"3,100",1,NaN,NaN
AX29A,3.75% AX Group plc 2029,NaN,NaN,NaN,99.500,"4,300",1,NaN,NaN
BR31A,3.9% Browns Pharma Holdings plc 2031,NaN,NaN,NaN,99.500,"5,000",1,NaN,NaN
CB33A,4% Central Business Centres plc 2033,1,"2,000",98.000,99.490,"11,000",1,NaN,NaN
MY27A,3.75% Mercury Projects Finance plc 2027,NaN,NaN,NaN,99.490,"11,000",1,NaN,NaN
PC26A,3.75% Premier Capital plc 2026,1,"2,200",98.500,99.490,"10,300",1,NaN,NaN
BV30A,3.5% Bank Of Valletta plc 2030,NaN,NaN,NaN,99.450,"27,000",1,NaN,NaN
VR27A,3.75% Virtu Finance plc 2027,1,"10,000",95.000,99.430,"15,600",1,NaN,NaN
BV31A,3.75% Bank Of Valletta plc 2031,NaN,NaN,NaN,99.420,"147,000",1,NaN,NaN
SP29A,4% SP Finance plc 2029,1,"10,000",93.000,99.000,"15,000",1,NaN,NaN
CC30A,4% Cablenet Communication Systems plc 2030,NaN,NaN,NaN,99.000,"42,000",3,NaN,NaN
DF26A,5% Dizz Finance plc 2026,NaN,NaN,NaN,99.000,"2,000",1,NaN,NaN
GP26A,3.9% GAP Group plc 2026,1,"5,000",98.500,99.000,"47,100",2,NaN,NaN
EN29A,4.5% Endo Finance plc 2029,NaN,NaN,NaN,99.000,"50,000",1,NaN,NaN
SH32A,4.5% Shoreline Mall plc 2032,1,"8,000",95.000,98.990,"1,700",1,NaN,NaN
PH28A,4.15% Phoenicia Finance Company plc 2028,NaN,NaN,NaN,98.430,"6,000",1,NaN,NaN
HF29A,3.8% Hili Finance Company plc 2029,1,"50,000",92.500,98.000,"11,000",2,NaN,NaN
AX32A,3.5% AX Real Estate plc 2032,1,"1,400",95.600,97.990,"10,000",1,NaN,NaN
MS26A,4.5% MedservRegis plc 2026,1,"40,000",96.000,97.500,"50,000",1,NaN,NaN
TM29A,3.75% Tum Finance plc 2029,NaN,NaN,NaN,97.000,"6,000",1,NaN,NaN
MS23A,6% MedservRegis plc 2023,NaN,NaN,NaN,97.000,"1,900",1,NaN,NaN
BV30B,3.5% Bank Of Valletta plc 2030,1,"10,000",91.000,96.500,"25,000",1,NaN,NaN
GO31A,3.5% GO plc 2031,1,"4,000",94.000,95.900,"25,000",1,NaN,NaN
MS26B,5.75% MedservRegis plc 2026,NaN,NaN,NaN,95.500,"55,000",1,NaN,NaN
HF28A,3.85% Hili Finance Company plc 2028,1,"10,000",94.000,95.500,"27,900",2,NaN,NaN
MO31A,3.65% Mizzi Organisation Finance plc 2031,1,"92,000",94.000,95.000,"8,000",1,NaN,NaN
AP30A,3.25% APS Bank plc 2030,NaN,NaN,NaN,94.990,"25,000",1,NaN,NaN
IH31A,3.65% International Hotel Investments plc 2031,1,"20,000",92.000,94.500,"28,000",1,NaN,NaN
IH25A,5.75% International Hotel Investments plc 2025,1,"10,000",95.010,104.890,"16,900",1,NaN,NaN
IB32A,5% Izola Bank plc 2032,2,"34,000",100.000,104.000,"10,000",1,NaN,NaN
AX24A,6% AX Investments plc 2024,NaN,NaN,NaN,103.500,200,1,NaN,NaN
6PM25,5.1% 6pm Holdings plc 2025,1,"2,100",101.000,103.000,"3,000",1,NaN,NaN
CB25A,5.25% Central Business Centres plc 2025,1,"4,000",100.300,103.000,"3,000",1,NaN,NaN
MU32A,6% Multitude Bank plc 2032,1,"7,000",100.000,102.900,"10,000",1,NaN,NaN
BD24A,4.25% Best Deal Properties Holding plc 2024,1,"50,000",102.500,102.750,"36,400",1,NaN,NaN
TI24A,5% Tumas Investment plc 2024,1,"10,000",101.700,102.700,"3,600",1,NaN,NaN
MI23A,5.5% Mediterranean Investments Holding plc 2023,1,"6,300",99.990,102.550,"7,700",1,NaN,NaN
ON34A,4.5% The Ona plc 2034,1,"3,000",100.500,102.500,"19,000",2,NaN,NaN
SM32A,4.65% Smartcare Finance plc 2032,1,"10,000",95.010,102.250,"10,000",1,NaN,NaN
GH27A,4.5% Grand Harbour Marina plc 2027,1,"35,000",100.100,102.000,"6,000",2,NaN,NaN
SA32A,4.55% St Anthony Co plc 2032,1,"5,000",100.000,101.990,"10,000",1,NaN,NaN
ST29A,3.65% Stivala Group Finance plc 2029,NaN,NaN,NaN,101.600,"10,000",1,NaN,NaN
SM31A,4.65% Smartcare Finance plc 2031,1,"6,000",70.060,101.510,"14,800",1,NaN,NaN
MY31A,4.25% Mercury Projects Finance plc 2031,1,"3,000",100.150,101.500,"3,000",1,NaN,NaN
HP25A,4.5% Hili Properties plc 2025,1,"5,200",100.000,101.500,"2,100",1,NaN,NaN
DN33A,4.75% Dino Fino Finance plc 2033,1,"10,000",95.010,101.500,"5,000",1,NaN,NaN
1923A,5.1% 1923 Investments plc 2024,NaN,NaN,NaN,101.490,"5,000",1,NaN,NaN
IH24A,6% International Hotel Investments plc 2024,1,"2,800",101.000,101.490,"8,400",1,NaN,NaN
CB27A,4.4% Central Business Centres plc 2027,1,"1,500",101.000,101.400,"10,000",1,NaN,NaN
HM24A,5% Hal Mann Vella Group plc 2024,1,"5,000",100.000,101.000,"1,700",1,NaN,NaN
HD26A,4.35% Hudson Malta plc 2026,1,"7,500",100.500,101.000,"3,000",1,NaN,NaN
SF27A,3.5% Simonds Farsons Cisk 2027,1,"2,800",100.700,101.000,"2,300",1,NaN,NaN
G332A,4.5% G3 Finance plc 2032,NaN,NaN,NaN,101.000,"13,000",1,NaN,NaN
MP32A,4% Malta Properties Company plc 2032,NaN,NaN,NaN,101.000,"20,400",2,NaN,NaN
IH23A,5.8% International Hotel Investments plc 2023,1,"20,000",100.000,100.800,"30,000",1,NaN,NaN
UF23A,5.3% United Finance plc 2023,1,"10,000",100.000,100.750,"22,500",1,NaN,NaN
EX28A,4% Exalco Finance plc 2028,1,"2,300",100.000,100.500,"3,500",1,NaN,NaN
EF27A,4% Eden Finance plc 2027,1,"6,000",99.500,100.500,"25,000",1,NaN,NaN
IH26A,4% International Hotel Investments plc 2026,1,"26,200",99.500,100.500,"6,500",1,NaN,NaN
CF26A,4.25% CPHCL Finance plc 2026,NaN,NaN,NaN,100.250,"4,100",1,NaN,NaN
TG26A,5.9% Together Gaming Solutions plc 2026,2,"7,000",100.000,100.200,"3,000",1,NaN,NaN
AX26A,3.25% AX Group plc 2026,NaN,NaN,NaN,100.000,"4,000",1,NaN,NaN
SH26A,4% Shoreline Mall plc 2026,NaN,NaN,NaN,100.000,"24,000",1,NaN,NaN
ST27A,4% Stivala Group Finance plc 2027,1,"30,000",98.000,100.000,"5,700",2,NaN,NaN
HF27A,4% Hili Finance Company plc 2027,1,900,98.500,100.000,"7,500",1,NaN,NaN
IZ29A,4.25% IZI Finance plc 2029,1,"3,000",99.000,100.000,"1,000",1,NaN,NaN
BN32A,4.5% BNF Bank plc 2032,NaN,NaN,NaN,100.000,"1,700",1,NaN,NaN
PZ26A,3.9% Plaza Centres plc 2026,NaN,NaN,NaN,100.000,"82,000",1,NaN,NaN
SD27A,4.35% SD Finance plc 2027,1,"10,000",95.010,100.000,"4,800",1,NaN,NaN
MM26A,4.8% Mediterranean Maritime Hub Finance plc 2026,NaN,NaN,NaN,100.000,"2,000",1,NaN,NaN
MY32A,4.3% Mercury Projects Finance plc 2032,1,"1,500",99.000,100.000,"14,800",2,NaN,NaN
MT28A,4.85% Melite Finance plc 2028,NaN,NaN,NaN,100.000,"200,000",3,NaN,NaN
MD26A,4% Midi plc 2026,1,"3,500",93.250,100.000,"41,000",3,NaN,NaN
MB27A,5% MeDirect Bank Malta plc 2027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB27B,5% MeDirect Bank Malta plc 2027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GP23A,4.25% GAP Group plc 2023,1,"10,000",98.000,NaN,NaN,NaN,NaN,NaN
MB29B,4% MeDirect Bank Malta plc 2029,1,"16,000",100.000,NaN,NaN,NaN,NaN,NaN
IB25A,4.5% Izola Bank plc 2025,1,"41,000",102.500,NaN,NaN,NaN,NaN,NaN
MF24A,5.3% Mariner Finance plc 2024,1,"19,700",101.500,NaN,NaN,NaN,NaN,NaN
MI27A,5.25% Mediterranean Investments Holding plc 2027,2,"18,700",100.000,NaN,NaN,NaN,NaN,NaN

In [14]:
def is_offer_valid(temp):
    if  temp < 0.5:
        return 'background-color: green'
    if  temp > 1:
        return 'background-color: red'
offers_price = offers_price.sort_values(by=['Best Offer Price'], ascending=False)
s = offers_price.style.applymap(is_offer_valid, subset=['Difference'])
s