In [118]:
import re
import mechanize
import xlsxwriter
from lxml import html
import os
import csv
from collections import defaultdict
import pandas as pd
from pathlib import Path # For data paths
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen

pd.set_option('display.max_rows', 500)

In [119]:
def tableDataText(table):    
    """Parses a html segment started with tag <table> followed 
    by multiple <tr> (table rows) and inner <td> (table data) tags. 
    It returns a list of rows with inner columns. 
    Accepts only one <th> (table header/data) in the first row.
    """
    def rowgetDataText(tr, coltag='td'): # td (data) or th (header)       
        return [td.get_text(strip=True) for td in tr.find_all(coltag)]  
    rows = []
    trs = table.find_all('tr')
    headerow = rowgetDataText(trs[0], 'th')
    if headerow: # if there is a header row include first
        rows.append(headerow)
        trs = trs[1:]
    for tr in trs: # for every table row
        rows.append(rowgetDataText(tr, 'td') ) # data row       
    return rows

In [149]:
def format_color_groups(df):
    colors = ['gold', 'lightblue']
    x = df.copy()
    factor = 0.5

    style = f'background-color: {colors[0]}'
    style2 = f'background-color: {colors[0]}'
    x.loc[x['Difference'] < factor, :] = style
        
    return x

In [120]:
headers = {'Accept-Encoding': 'identity'}
try:
    response = requests.get("https://www.borzamalta.com.mt/?handler=TradingBoard", headers=headers)
except requests.ConnectionError as error:
    print(error)

In [123]:
list_table=[]
bs = BeautifulSoup(response.content)
tables = bs.findAll('table')
for table in tables:
    df = pd.DataFrame(tableDataText(table))
    df=df.rename(columns=df.iloc[0]).drop(df.index[0])
    list_table.append(df)

Table 2 - Corporate Bonds
Table 5 - Regulated Market
Table 7 - Corporate Bonds offers

In [129]:
trades = list_table[5].set_index('Symbol Code').filter(regex='A$|B$', axis=0)
trades

              Traded Time Currency Volume Traded Value Traded Execution Price
Symbol Code
SM31A        15:30:23:033      EUR         5,000     5,090.00        101.8000
SM31A        15:30:23:033      EUR         5,000     5,090.00        101.8000
G41A         15:30:10:027      EUR        10,000     9,200.00         92.0000
PC26A        15:03:56:097      EUR         5,600     5,588.80         99.8000
PC26A        15:03:41:020      EUR           500       495.00         99.0000
PC26A        15:03:41:020      EUR         1,500     1,497.00         99.8000
GO31A        14:51:36:053      EUR         1,300     1,267.50         97.5000
G41A         14:46:46:030      EUR         2,000     1,840.00         92.0000
IH26B        14:37:09:010      EUR        15,000    15,000.00        100.0000
G32A         14:31:07:017      EUR         3,000     3,254.70        108.4900
AX24A        14:20:33:063      EUR         4,000     4,160.00        104.0000
MF24A        14:19:49:067      EUR         2,500     2,550.00        102.0000
IH24A        14:18:58:090      EUR         3,100     3,115.50        100.5000
MR26A        14:13:56:097      EUR         2,000     2,000.60        100.0300
G332A        14:02:41:000      EUR        38,200    38,964.00        102.0000
G332A        14:02:41:000      EUR        10,000    10,225.00        102.2500
PH28A        13:59:49:097      EUR         1,500     1,485.00         99.0000
G332A        13:54:43:057      EUR        15,000    15,382.50        102.5500
ON34A        13:03:47:093      EUR        25,000    25,600.00        102.4000
IZ29A        13:03:35:020      EUR        20,000    20,300.00        101.5000
IH26B        13:03:21:053      EUR        14,900    14,900.00        100.0000
IH26B        13:03:21:053      EUR        34,100    34,100.00        100.0000
DF26A        13:03:09:097      EUR         8,000     8,064.00        100.8000
SM32A        13:02:57:070      EUR        16,000    16,320.00        102.0000
HF29A        13:01:14:077      EUR        10,000     9,980.00         99.8000
MY32A        12:54:51:010      EUR        16,000    16,240.00        101.5000
SF27A        12:51:32:097      EUR         2,200     2,215.40        100.7000
IB25A        12:36:33:027      EUR        50,000    51,250.00        102.5000
AX32A        12:23:06:017      EUR         3,000     2,999.70         99.9900
AX32A        12:23:06:017      EUR         6,600     6,567.00         99.5000
AX32A        12:23:06:017      EUR           400       400.00        100.0000
IZ29A        11:51:04:047      EUR         4,900     4,973.50        101.5000
GO31A        11:44:44:067      EUR           700       689.50         98.5000
GO31A        11:44:44:067      EUR         4,300     4,214.00         98.0000
BD24A        11:34:35:080      EUR        10,000    10,250.00        102.5000
MB29A        11:34:00:050      EUR        21,000    20,995.80         99.9800
MB29A        11:34:00:050      EUR        25,000    24,875.00         99.5000
DF26A        11:33:49:067      EUR        10,000    10,080.00        100.8000
AX32A        11:27:59:067      EUR         2,000     1,988.00         99.4000
AX32A        11:27:59:067      EUR         6,000     5,970.00         99.5000
SM32A        11:06:36:077      EUR         7,600     7,752.00        102.0000
SM32A        11:06:36:077      EUR         3,200     3,275.20        102.3500
SM32A        11:06:36:077      EUR         3,000     3,060.00        102.0000
ST29A        11:00:39:023      EUR        20,000    20,340.00        101.7000
IB25A        11:00:10:073      EUR        50,000    51,250.00        102.5000
HF27A        10:45:10:077      EUR        11,700    11,700.00        100.0000
HF27A        10:45:10:077      EUR         6,000     6,000.00        100.0000
GO31A        10:40:29:000      EUR         6,200     6,076.00         98.0000
G42A         10:07:45:010      EUR         5,000     5,050.00        101.0000
BR31A        10:06:19:007      EUR         4,000     4,040.00        101.0000
PC26A        10:05:07:080      EUR         6,700     6,632.33         98.9900
PC26A        10:05:07:080      EUR         3,300     3,267.00         99.0000
IH26B        10:04:52:070      EUR        10,000    10,000.00        100.0000
TG26A        09:54:12:040      EUR         5,000     5,000.00        100.0000
1923A        09:45:41:030      EUR         1,000     1,025.00        102.5000
1923A        09:45:41:030      EUR         4,600     4,715.00        102.5000
DF26A        09:42:25:057      EUR         4,000     4,032.00        100.8000
G29B         09:42:12:050      EUR         7,200     7,200.00        100.0000
G29B         09:42:12:050      EUR         2,800     2,800.00        100.0000
VH24A        09:42:01:043      EUR         5,000     5,025.00        100.5000
MO31A        09:41:55:100      EUR        10,000     9,898.00         98.9800
HF29A        09:41:48:057      EUR        10,000     9,975.00         99.7500
HF29A        09:41:48:057      EUR        10,000     9,980.00         99.8000
IH26B        09:41:36:020      EUR        20,000    20,000.00        100.0000
MY27A        09:37:24:073      EUR         5,000     5,020.00        100.4000
GO31A        09:34:58:087      EUR         2,500     2,450.00         98.0000
SM32A        09:32:29:047      EUR        20,000    20,472.00        102.3600
SM32A        09:32:29:047      EUR         3,000     3,070.80        102.3600
PH28A        09:32:27:013      EUR           400       400.00        100.0000
PH28A        09:32:27:013      EUR         4,400     4,400.00        100.0000
PH28A        09:32:27:013      EUR        10,000    10,000.00        100.0000
PH28A        09:32:27:013      EUR         5,600     5,600.00        100.0000
PH28A        09:32:27:013      EUR           100       100.00        100.0000
SM31A        09:32:16:100      EUR        10,000    10,030.00        100.3000
SM31A        09:32:16:100      EUR        10,000    10,030.00        100.3000
SM31A        09:32:16:100      EUR        10,000    10,030.00        100.3000
G40A         09:32:07:083      EUR        21,200    21,200.00        100.0000

In [131]:
offers = list_table[7].set_index('Symbol Code').sort_values(by=['Best Offer Price'], ascending=False)
offers

,Security Name,Best Bid Count,Best Bid Volume,Best Bid Price,Best Offer Price,Best Offer Volume,Best Offer Count
Symbol Code,,,,,,,
MB29A,4% MeDirect Bank Malta plc 2029,-,-,-,99.980,"4,000",1
LS31A,4% LifeStar Insurance plc 2031,-,-,-,99.900,"30,000",1
HF28A,3.85% Hili Finance Company plc 2028,1,"5,000",97.810,99.800,300,1
HF29A,3.8% Hili Finance Company plc 2029,1,"10,000",97.300,99.800,"78,800",3
SH26A,4% Shoreline Mall plc 2026,2,"40,000",98.500,99.800,"5,000",1
PC26A,3.75% Premier Capital plc 2026,1,"7,400",98.800,99.800,"2,900",1
EN29A,4.5% Endo Finance plc 2029,-,-,-,99.500,"50,000",1
SH32A,4.5% Shoreline Mall plc 2032,1,"10,000",93.010,99.500,"10,000",1
BV31A,3.75% Bank Of Valletta plc 2031,-,-,-,99.490,"50,000",2
PH28A,4.15% Phoenicia Finance Company plc 2028,1,"10,000",95.010,99.000,"4,100",1
MO31A,3.65% Mizzi Organisation Finance plc 2031,1,"10,000",95.510,98.990,"9,900",1
GO31A,3.5% GO plc 2031,1,"10,000",96.010,98.500,"1,600",1
AP30A,3.25% APS Bank plc 2030,1,"25,000",94.000,98.000,"75,000",1
MS26A,4.5% MedservRegis plc 2026,1,"40,000",96.000,97.500,"50,000",1
IH31A,3.65% International Hotel Investments plc 2031,1,"6,500",97.000,97.500,"8,000",2
BV30B,3.5% Bank Of Valletta plc 2030,1,"10,000",93.000,97.000,"5,000",1
MS26B,5.75% MedservRegis plc 2026,-,-,-,95.500,"55,000",1
MI27A,5.25% Mediterranean Investments Holding plc 2027,1,"10,400",102.800,106.000,"5,000",1
SP29A,4% SP Finance plc 2029,1,"10,000",100.050,105.000,"5,000",1
AX24A,6% AX Investments plc 2024,1,"37,900",102.000,104.500,"13,300",1
SA32A,4.55% St Anthony Co plc 2032,1,"85,000",102.500,104.000,"1,500",1
IH23A,5.8% International Hotel Investments plc 2023,1,"10,000",98.010,104.000,"33,500",3
IB32A,5% Izola Bank plc 2032,2,"20,300",100.000,104.000,"10,000",1
IH24A,6% International Hotel Investments plc 2024,1,"26,900",100.500,103.490,"2,000",1
DN33A,4.75% Dino Fino Finance plc 2033,1,"10,000",100.750,103.000,"15,000",2
MY31A,4.25% Mercury Projects Finance plc 2031,1,"2,000",101.500,102.900,"7,000",1
HM24A,5% Hal Mann Vella Group plc 2024,1,"10,000",102.000,102.750,"3,900",1
IB25A,4.5% Izola Bank plc 2025,-,-,-,102.750,"46,300",1
CB27A,4.4% Central Business Centres plc 2027,1,"4,300",101.000,102.750,"10,000",1
MF24A,5.3% Mariner Finance plc 2024,1,"2,500",102.000,102.600,100,1
MI23A,5.5% Mediterranean Investments Holding plc 2023,2,"18,000",100.000,102.500,"5,000",1
IH25A,5.75% International Hotel Investments plc 2025,1,"24,500",101.500,102.500,"4,300",1
1923A,5.1% 1923 Investments plc 2024,1,"10,000",99.010,102.500,"42,400",1
SF27A,3.5% Simonds Farsons Cisk 2027,1,"6,100",100.700,102.500,"21,700",2
ON34A,4.5% The Ona plc 2034,1,"49,400",102.000,102.400,"25,000",1
SM32A,4.65% Smartcare Finance plc 2032,1,"2,000",101.800,102.000,200,1
6PM25,5.1% 6pm Holdings plc 2025,2,"32,100",101.000,102.000,300,1
VH24A,4.4% Von der Heyden Group Finance p.l.c 2024,1,"13,000",99.510,102.000,"19,000",1
TM29A,3.75% Tum Finance plc 2029,1,"10,000",97.510,102.000,"4,400",1
MY32A,4.3% Mercury Projects Finance plc 2032,1,"4,000",101.500,102.000,"30,000",1
TI24A,5% Tumas Investment plc 2024,1,"15,000",101.550,102.000,"1,000",1
SD27A,4.35% SD Finance plc 2027,1,"5,000",101.500,102.000,"6,000",1
HD26A,4.35% Hudson Malta plc 2026,1,"20,000",100.250,102.000,"20,000",1
EX28A,4% Exalco Finance plc 2028,2,"18,000",101.000,102.000,"27,000",1
GH27A,4.5% Grand Harbour Marina plc 2027,1,"10,000",100.130,102.000,"3,000",1
G332A,4.5% G3 Finance plc 2032,1,"3,000",100.500,102.000,"1,800",1
FR32A,6% Ferratum Bank plc 2032,1,"7,000",100.000,102.000,"20,000",1
CC30A,4% Cablenet Communication Systems plc 2030,1,"1,000",101.750,101.990,"2,000",1
HP25A,4.5% Hili Properties plc 2025,1,900,101.750,101.990,"10,000",1
MM26A,4.8% Mediterranean Maritime Hub Finance plc 2026,1,"10,000",100.010,101.990,"10,000",1
SM31A,4.65% Smartcare Finance plc 2031,1,"6,000",100.270,101.800,"14,800",1
MR26A,4% Merkanti Holding plc 2026,1,"8,000",100.030,101.750,"10,000",1
ST29A,3.65% Stivala Group Finance plc 2029,1,"10,000",97.210,101.700,"30,000",1
CF26A,4.25% CPHCL Finance plc 2026,1,"8,400",100.270,101.690,"15,700",1
MP32A,4% Malta Properties Company plc 2032,1,"10,000",100.010,101.500,"10,400",1
IZ29A,4.25% IZI Finance plc 2029,-,-,-,101.500,"5,100",1
ST27A,4% Stivala Group Finance plc 2027,1,"10,000",100.050,101.500,"10,000",1
IH26A,4% International Hotel Investments plc 2026,1,"7,200",100.110,101.270,"7,400",1
TI27A,3.75% Tumas Investment plc 2027,1,"4,000",99.500,101.000,"1,500",2
BR31A,3.9% Browns Pharma Holdings plc 2031,1,"3,000",100.000,101.000,"6,000",1
MD26A,4% Midi plc 2026,1,"10,000",100.030,101.000,300,1
EF27A,4% Eden Finance plc 2027,1,"8,000",100.600,101.000,"7,000",1
MY27A,3.75% Mercury Projects Finance plc 2027,1,"6,000",100.400,101.000,"8,000",1
VR27A,3.75% Virtu Finance plc 2027,1,"15,000",100.000,100.970,"5,600",1
HF27A,4% Hili Finance Company plc 2027,1,"19,000",99.030,100.970,"10,000",1
DF26A,5% Dizz Finance plc 2026,1,"30,000",100.000,100.800,"8,000",1
UF23A,5.3% United Finance plc 2023,1,"10,000",100.000,100.750,"22,500",1
GP25A,3.7% GAP Group plc 2025,1,"10,000",97.010,100.480,"6,600",1
CB33A,4% Central Business Centres plc 2033,1,"10,000",98.010,100.250,"27,700",8
AX29A,3.75% AX Group plc 2029,1,"2,500",100.000,100.250,"48,100",2
BX27A,3.75% Bortex Group Finance plc 2027,1,100,100.000,100.200,"13,500",1
AX26A,3.25% AX Group plc 2026,1,"10,000",97.010,100.000,"13,200",1
AX32A,3.5% AX Real Estate plc 2032,1,"10,000",97.010,100.000,"6,600",1
TG26A,5.9% Together Gaming Solutions plc 2026,1,"5,000",99.550,100.000,"2,000",1
BN32A,4.5% BNF Bank plc 2032,1,"3,700",1.010,100.000,200,1
BV30A,3.5% Bank Of Valletta plc 2030,1,"5,000",98.010,100.000,"149,500",4
MT28A,4.85% Melite Finance plc 2028,-,-,-,100.000,"200,000",3
GP26A,3.9% GAP Group plc 2026,1,"10,000",97.010,100.000,"7,300",1
IH26B,4% International Hotel Investments plc 2026,1,"15,000",97.600,100.000,"50,900",2
CB25A,5.25% Central Business Centres plc 2025,1,"10,800",101.500,-,-,-
MS23A,6% MedservRegis plc 2023,-,-,-,-,-,-
GP23A,4.25% GAP Group plc 2023,1,"10,000",98.010,-,-,-
BD24A,4.25% Best Deal Properties Holding plc 2024,1,"10,000",102.500,-,-,-
PZ26A,3.9% Plaza Centres plc 2026,1,"5,000",100.000,-,-,-
MB27A,5% MeDirect Bank Malta plc 2027,-,-,-,-,-,-
MB27B,5% MeDirect Bank Malta plc 2027,-,-,-,-,-,-
MB29B,4% MeDirect Bank Malta plc 2029,1,"16,000",100.000,-,-,-

In [134]:
total_trades = list_table[2].set_index('Symbol Code')
total_trades

,Volume Traded,Value Traded,Trades,High Price,Low Price,Open Price,Closing Price,Change
Symbol Code,,,,,,,,
1923A,"5,600","5,740.00",2,102.500,102.500,102.500,102.500,0.000
6PM25,"8,000","8,160.00",1,102.000,102.000,102.000,102.000,1.000
AX24A,"4,000","4,160.00",1,104.000,104.000,104.000,104.000,2.000
AX32A,"18,000","17,924.70",5,100.000,99.400,99.400,100.000,0.600
BD24A,"10,000","10,250.00",1,102.500,102.500,102.500,102.500,0.000
BR31A,"4,000","4,040.00",1,101.000,101.000,101.000,101.000,0.500
DF26A,"22,000","22,176.00",3,100.800,100.800,100.800,100.800,0.800
G332A,"63,200","64,571.50",3,102.550,102.000,102.550,102.000,-1.000
GO31A,"15,000","14,697.00",5,98.500,97.500,98.000,97.500,-1.000
HF27A,"17,700","17,700.00",2,100.000,100.000,100.000,100.000,0.970
HF29A,"30,000","29,935.00",3,99.800,99.750,99.750,99.800,2.530
IB25A,"100,000","102,500.00",2,102.500,102.500,102.500,102.500,0.000
IH24A,"3,100","3,115.50",1,100.500,100.500,100.500,100.500,0.250
IH26B,"94,000","94,000.00",5,100.000,100.000,100.000,100.000,0.000
IZ29A,"24,900","25,273.50",2,101.500,101.500,101.500,101.500,0.000
MB29A,"46,000","45,870.80",2,99.980,99.500,99.500,99.980,0.480
MF24A,"2,500","2,550.00",1,102.000,102.000,102.000,102.000,0.000
MO31A,"10,000","9,898.00",1,98.980,98.980,98.980,98.980,-0.020
MR26A,"2,000","2,000.60",1,100.030,100.030,100.030,100.030,-0.970
MY27A,"5,000","5,020.00",1,100.400,100.400,100.400,100.400,0.000
MY32A,"16,000","16,240.00",1,101.500,101.500,101.500,101.500,-0.500
ON34A,"25,000","25,600.00",1,102.400,102.400,102.400,102.400,-0.600
PC26A,"17,600","17,480.13",5,99.800,98.990,98.990,99.800,2.000
PH28A,"22,000","21,985.00",6,100.000,99.000,100.000,99.000,-1.000
SF27A,"2,200","2,215.40",1,100.700,100.700,100.700,100.700,-1.800
SM31A,"40,000","40,270.00",5,101.800,100.300,100.300,101.800,1.680
SM32A,"52,800","53,950.00",6,102.360,102.000,102.360,102.000,-0.350
ST29A,"20,000","20,340.00",1,101.700,101.700,101.700,101.700,0.700
TG26A,"5,000","5,000.00",1,100.000,100.000,100.000,100.000,0.000
VH24A,"5,000","5,025.00",1,100.500,100.500,100.500,100.500,0.380

In [136]:
df = pd.merge(trades,offers[['Best Offer Price','Best Offer Volume']], left_index=True, right_index=True, how='left')

In [138]:
df2 = pd.merge(df, total_trades[['Closing Price']], left_index=True, right_index=True, how='left')

In [139]:
df2

,Traded Time,Currency,Volume Traded,Value Traded,Execution Price,Best Offer Price,Best Offer Volume,Closing Price
Symbol Code,,,,,,,,
1923A,09:45:41:030,EUR,"1,000","1,025.00",102.5000,102.500,"42,400",102.500
1923A,09:45:41:030,EUR,"4,600","4,715.00",102.5000,102.500,"42,400",102.500
AX24A,14:20:33:063,EUR,"4,000","4,160.00",104.0000,104.500,"13,300",104.000
AX32A,12:23:06:017,EUR,"3,000","2,999.70",99.9900,100.000,"6,600",100.000
AX32A,12:23:06:017,EUR,"6,600","6,567.00",99.5000,100.000,"6,600",100.000
AX32A,12:23:06:017,EUR,400,400.00,100.0000,100.000,"6,600",100.000
AX32A,11:27:59:067,EUR,"2,000","1,988.00",99.4000,100.000,"6,600",100.000
AX32A,11:27:59:067,EUR,"6,000","5,970.00",99.5000,100.000,"6,600",100.000
BD24A,11:34:35:080,EUR,"10,000","10,250.00",102.5000,-,-,102.500
BR31A,10:06:19:007,EUR,"4,000","4,040.00",101.0000,101.000,"6,000",101.000
DF26A,13:03:09:097,EUR,"8,000","8,064.00",100.8000,100.800,"8,000",100.800
DF26A,11:33:49:067,EUR,"10,000","10,080.00",100.8000,100.800,"8,000",100.800
DF26A,09:42:25:057,EUR,"4,000","4,032.00",100.8000,100.800,"8,000",100.800
G29B,09:42:12:050,EUR,"7,200","7,200.00",100.0000,NaN,NaN,NaN
G29B,09:42:12:050,EUR,"2,800","2,800.00",100.0000,NaN,NaN,NaN
G32A,14:31:07:017,EUR,"3,000","3,254.70",108.4900,NaN,NaN,NaN
G332A,14:02:41:000,EUR,"38,200","38,964.00",102.0000,102.000,"1,800",102.000
G332A,14:02:41:000,EUR,"10,000","10,225.00",102.2500,102.000,"1,800",102.000
G332A,13:54:43:057,EUR,"15,000","15,382.50",102.5500,102.000,"1,800",102.000
G40A,09:32:07:083,EUR,"21,200","21,200.00",100.0000,NaN,NaN,NaN
G41A,15:30:10:027,EUR,"10,000","9,200.00",92.0000,NaN,NaN,NaN
G41A,14:46:46:030,EUR,"2,000","1,840.00",92.0000,NaN,NaN,NaN
G42A,10:07:45:010,EUR,"5,000","5,050.00",101.0000,NaN,NaN,NaN
GO31A,14:51:36:053,EUR,"1,300","1,267.50",97.5000,98.500,"1,600",97.500
GO31A,11:44:44:067,EUR,700,689.50,98.5000,98.500,"1,600",97.500
GO31A,11:44:44:067,EUR,"4,300","4,214.00",98.0000,98.500,"1,600",97.500
GO31A,10:40:29:000,EUR,"6,200","6,076.00",98.0000,98.500,"1,600",97.500
GO31A,09:34:58:087,EUR,"2,500","2,450.00",98.0000,98.500,"1,600",97.500
HF27A,10:45:10:077,EUR,"11,700","11,700.00",100.0000,100.970,"10,000",100.000
HF27A,10:45:10:077,EUR,"6,000","6,000.00",100.0000,100.970,"10,000",100.000
HF29A,13:01:14:077,EUR,"10,000","9,980.00",99.8000,99.800,"78,800",99.800
HF29A,09:41:48:057,EUR,"10,000","9,975.00",99.7500,99.800,"78,800",99.800
HF29A,09:41:48:057,EUR,"10,000","9,980.00",99.8000,99.800,"78,800",99.800
IB25A,12:36:33:027,EUR,"50,000","51,250.00",102.5000,102.750,"46,300",102.500
IB25A,11:00:10:073,EUR,"50,000","51,250.00",102.5000,102.750,"46,300",102.500
IH24A,14:18:58:090,EUR,"3,100","3,115.50",100.5000,103.490,"2,000",100.500
IH26B,14:37:09:010,EUR,"15,000","15,000.00",100.0000,100.000,"50,900",100.000
IH26B,13:03:21:053,EUR,"14,900","14,900.00",100.0000,100.000,"50,900",100.000
IH26B,13:03:21:053,EUR,"34,100","34,100.00",100.0000,100.000,"50,900",100.000
IH26B,10:04:52:070,EUR,"10,000","10,000.00",100.0000,100.000,"50,900",100.000
IH26B,09:41:36:020,EUR,"20,000","20,000.00",100.0000,100.000,"50,900",100.000
IZ29A,13:03:35:020,EUR,"20,000","20,300.00",101.5000,101.500,"5,100",101.500
IZ29A,11:51:04:047,EUR,"4,900","4,973.50",101.5000,101.500,"5,100",101.500
MB29A,11:34:00:050,EUR,"21,000","20,995.80",99.9800,99.980,"4,000",99.980
MB29A,11:34:00:050,EUR,"25,000","24,875.00",99.5000,99.980,"4,000",99.980
MF24A,14:19:49:067,EUR,"2,500","2,550.00",102.0000,102.600,100,102.000
MO31A,09:41:55:100,EUR,"10,000","9,898.00",98.9800,98.990,"9,900",98.980
MR26A,14:13:56:097,EUR,"2,000","2,000.60",100.0300,101.750,"10,000",100.030
MY27A,09:37:24:073,EUR,"5,000","5,020.00",100.4000,101.000,"8,000",100.400
MY32A,12:54:51:010,EUR,"16,000","16,240.00",101.5000,102.000,"30,000",101.500
ON34A,13:03:47:093,EUR,"25,000","25,600.00",102.4000,102.400,"25,000",102.400
PC26A,15:03:56:097,EUR,"5,600","5,588.80",99.8000,99.800,"2,900",99.800
PC26A,15:03:41:020,EUR,500,495.00,99.0000,99.800,"2,900",99.800
PC26A,15:03:41:020,EUR,"1,500","1,497.00",99.8000,99.800,"2,900",99.800
PC26A,10:05:07:080,EUR,"6,700","6,632.33",98.9900,99.800,"2,900",99.800
PC26A,10:05:07:080,EUR,"3,300","3,267.00",99.0000,99.800,"2,900",99.800
PH28A,13:59:49:097,EUR,"1,500","1,485.00",99.0000,99.000,"4,100",99.000
PH28A,09:32:27:013,EUR,400,400.00,100.0000,99.000,"4,100",99.000
PH28A,09:32:27:013,EUR,"4,400","4,400.00",100.0000,99.000,"4,100",99.000
PH28A,09:32:27:013,EUR,"10,000","10,000.00",100.0000,99.000,"4,100",99.000
PH28A,09:32:27:013,EUR,"5,600","5,600.00",100.0000,99.000,"4,100",99.000
PH28A,09:32:27:013,EUR,100,100.00,100.0000,99.000,"4,100",99.000
SF27A,12:51:32:097,EUR,"2,200","2,215.40",100.7000,102.500,"21,700",100.700
SM31A,15:30:23:033,EUR,"5,000","5,090.00",101.8000,101.800,"14,800",101.800
SM31A,15:30:23:033,EUR,"5,000","5,090.00",101.8000,101.800,"14,800",101.800
SM31A,09:32:16:100,EUR,"10,000","10,030.00",100.3000,101.800,"14,800",101.800
SM31A,09:32:16:100,EUR,"10,000","10,030.00",100.3000,101.800,"14,800",101.800
SM31A,09:32:16:100,EUR,"10,000","10,030.00",100.3000,101.800,"14,800",101.800
SM32A,13:02:57:070,EUR,"16,000","16,320.00",102.0000,102.000,200,102.000
SM32A,11:06:36:077,EUR,"7,600","7,752.00",102.0000,102.000,200,102.000
SM32A,11:06:36:077,EUR,"3,200","3,275.20",102.3500,102.000,200,102.000
SM32A,11:06:36:077,EUR,"3,000","3,060.00",102.0000,102.000,200,102.000
SM32A,09:32:29:047,EUR,"20,000","20,472.00",102.3600,102.000,200,102.000
SM32A,09:32:29:047,EUR,"3,000","3,070.80",102.3600,102.000,200,102.000
ST29A,11:00:39:023,EUR,"20,000","20,340.00",101.7000,101.700,"30,000",101.700
TG26A,09:54:12:040,EUR,"5,000","5,000.00",100.0000,100.000,"2,000",100.000
VH24A,09:42:01:043,EUR,"5,000","5,025.00",100.5000,102.000,"19,000",100.500

In [140]:
offers_price = pd.merge(offers, total_trades[['Closing Price']], left_index=True, right_index=True, how='left')
offers_price

,Security Name,Best Bid Count,Best Bid Volume,Best Bid Price,Best Offer Price,Best Offer Volume,Best Offer Count,Closing Price
Symbol Code,,,,,,,,
MB29A,4% MeDirect Bank Malta plc 2029,-,-,-,99.980,"4,000",1,99.980
LS31A,4% LifeStar Insurance plc 2031,-,-,-,99.900,"30,000",1,NaN
HF28A,3.85% Hili Finance Company plc 2028,1,"5,000",97.810,99.800,300,1,NaN
HF29A,3.8% Hili Finance Company plc 2029,1,"10,000",97.300,99.800,"78,800",3,99.800
SH26A,4% Shoreline Mall plc 2026,2,"40,000",98.500,99.800,"5,000",1,NaN
PC26A,3.75% Premier Capital plc 2026,1,"7,400",98.800,99.800,"2,900",1,99.800
EN29A,4.5% Endo Finance plc 2029,-,-,-,99.500,"50,000",1,NaN
SH32A,4.5% Shoreline Mall plc 2032,1,"10,000",93.010,99.500,"10,000",1,NaN
BV31A,3.75% Bank Of Valletta plc 2031,-,-,-,99.490,"50,000",2,NaN
PH28A,4.15% Phoenicia Finance Company plc 2028,1,"10,000",95.010,99.000,"4,100",1,99.000
MO31A,3.65% Mizzi Organisation Finance plc 2031,1,"10,000",95.510,98.990,"9,900",1,98.980
GO31A,3.5% GO plc 2031,1,"10,000",96.010,98.500,"1,600",1,97.500
AP30A,3.25% APS Bank plc 2030,1,"25,000",94.000,98.000,"75,000",1,NaN
MS26A,4.5% MedservRegis plc 2026,1,"40,000",96.000,97.500,"50,000",1,NaN
IH31A,3.65% International Hotel Investments plc 2031,1,"6,500",97.000,97.500,"8,000",2,NaN
BV30B,3.5% Bank Of Valletta plc 2030,1,"10,000",93.000,97.000,"5,000",1,NaN
MS26B,5.75% MedservRegis plc 2026,-,-,-,95.500,"55,000",1,NaN
MI27A,5.25% Mediterranean Investments Holding plc 2027,1,"10,400",102.800,106.000,"5,000",1,NaN
SP29A,4% SP Finance plc 2029,1,"10,000",100.050,105.000,"5,000",1,NaN
AX24A,6% AX Investments plc 2024,1,"37,900",102.000,104.500,"13,300",1,104.000
SA32A,4.55% St Anthony Co plc 2032,1,"85,000",102.500,104.000,"1,500",1,NaN
IH23A,5.8% International Hotel Investments plc 2023,1,"10,000",98.010,104.000,"33,500",3,NaN
IB32A,5% Izola Bank plc 2032,2,"20,300",100.000,104.000,"10,000",1,NaN
IH24A,6% International Hotel Investments plc 2024,1,"26,900",100.500,103.490,"2,000",1,100.500
DN33A,4.75% Dino Fino Finance plc 2033,1,"10,000",100.750,103.000,"15,000",2,NaN
MY31A,4.25% Mercury Projects Finance plc 2031,1,"2,000",101.500,102.900,"7,000",1,NaN
HM24A,5% Hal Mann Vella Group plc 2024,1,"10,000",102.000,102.750,"3,900",1,NaN
IB25A,4.5% Izola Bank plc 2025,-,-,-,102.750,"46,300",1,102.500
CB27A,4.4% Central Business Centres plc 2027,1,"4,300",101.000,102.750,"10,000",1,NaN
MF24A,5.3% Mariner Finance plc 2024,1,"2,500",102.000,102.600,100,1,102.000
MI23A,5.5% Mediterranean Investments Holding plc 2023,2,"18,000",100.000,102.500,"5,000",1,NaN
IH25A,5.75% International Hotel Investments plc 2025,1,"24,500",101.500,102.500,"4,300",1,NaN
1923A,5.1% 1923 Investments plc 2024,1,"10,000",99.010,102.500,"42,400",1,102.500
SF27A,3.5% Simonds Farsons Cisk 2027,1,"6,100",100.700,102.500,"21,700",2,100.700
ON34A,4.5% The Ona plc 2034,1,"49,400",102.000,102.400,"25,000",1,102.400
SM32A,4.65% Smartcare Finance plc 2032,1,"2,000",101.800,102.000,200,1,102.000
6PM25,5.1% 6pm Holdings plc 2025,2,"32,100",101.000,102.000,300,1,102.000
VH24A,4.4% Von der Heyden Group Finance p.l.c 2024,1,"13,000",99.510,102.000,"19,000",1,100.500
TM29A,3.75% Tum Finance plc 2029,1,"10,000",97.510,102.000,"4,400",1,NaN
MY32A,4.3% Mercury Projects Finance plc 2032,1,"4,000",101.500,102.000,"30,000",1,101.500
TI24A,5% Tumas Investment plc 2024,1,"15,000",101.550,102.000,"1,000",1,NaN
SD27A,4.35% SD Finance plc 2027,1,"5,000",101.500,102.000,"6,000",1,NaN
HD26A,4.35% Hudson Malta plc 2026,1,"20,000",100.250,102.000,"20,000",1,NaN
EX28A,4% Exalco Finance plc 2028,2,"18,000",101.000,102.000,"27,000",1,NaN
GH27A,4.5% Grand Harbour Marina plc 2027,1,"10,000",100.130,102.000,"3,000",1,NaN
G332A,4.5% G3 Finance plc 2032,1,"3,000",100.500,102.000,"1,800",1,102.000
FR32A,6% Ferratum Bank plc 2032,1,"7,000",100.000,102.000,"20,000",1,NaN
CC30A,4% Cablenet Communication Systems plc 2030,1,"1,000",101.750,101.990,"2,000",1,NaN
HP25A,4.5% Hili Properties plc 2025,1,900,101.750,101.990,"10,000",1,NaN
MM26A,4.8% Mediterranean Maritime Hub Finance plc 2026,1,"10,000",100.010,101.990,"10,000",1,NaN
SM31A,4.65% Smartcare Finance plc 2031,1,"6,000",100.270,101.800,"14,800",1,101.800
MR26A,4% Merkanti Holding plc 2026,1,"8,000",100.030,101.750,"10,000",1,100.030
ST29A,3.65% Stivala Group Finance plc 2029,1,"10,000",97.210,101.700,"30,000",1,101.700
CF26A,4.25% CPHCL Finance plc 2026,1,"8,400",100.270,101.690,"15,700",1,NaN
MP32A,4% Malta Properties Company plc 2032,1,"10,000",100.010,101.500,"10,400",1,NaN
IZ29A,4.25% IZI Finance plc 2029,-,-,-,101.500,"5,100",1,101.500
ST27A,4% Stivala Group Finance plc 2027,1,"10,000",100.050,101.500,"10,000",1,NaN
IH26A,4% International Hotel Investments plc 2026,1,"7,200",100.110,101.270,"7,400",1,NaN
TI27A,3.75% Tumas Investment plc 2027,1,"4,000",99.500,101.000,"1,500",2,NaN
BR31A,3.9% Browns Pharma Holdings plc 2031,1,"3,000",100.000,101.000,"6,000",1,101.000
MD26A,4% Midi plc 2026,1,"10,000",100.030,101.000,300,1,NaN
EF27A,4% Eden Finance plc 2027,1,"8,000",100.600,101.000,"7,000",1,NaN
MY27A,3.75% Mercury Projects Finance plc 2027,1,"6,000",100.400,101.000,"8,000",1,100.400
VR27A,3.75% Virtu Finance plc 2027,1,"15,000",100.000,100.970,"5,600",1,NaN
HF27A,4% Hili Finance Company plc 2027,1,"19,000",99.030,100.970,"10,000",1,100.000
DF26A,5% Dizz Finance plc 2026,1,"30,000",100.000,100.800,"8,000",1,100.800
UF23A,5.3% United Finance plc 2023,1,"10,000",100.000,100.750,"22,500",1,NaN
GP25A,3.7% GAP Group plc 2025,1,"10,000",97.010,100.480,"6,600",1,NaN
CB33A,4% Central Business Centres plc 2033,1,"10,000",98.010,100.250,"27,700",8,NaN
AX29A,3.75% AX Group plc 2029,1,"2,500",100.000,100.250,"48,100",2,NaN
BX27A,3.75% Bortex Group Finance plc 2027,1,100,100.000,100.200,"13,500",1,NaN
AX26A,3.25% AX Group plc 2026,1,"10,000",97.010,100.000,"13,200",1,NaN
AX32A,3.5% AX Real Estate plc 2032,1,"10,000",97.010,100.000,"6,600",1,100.000
TG26A,5.9% Together Gaming Solutions plc 2026,1,"5,000",99.550,100.000,"2,000",1,100.000
BN32A,4.5% BNF Bank plc 2032,1,"3,700",1.010,100.000,200,1,NaN
BV30A,3.5% Bank Of Valletta plc 2030,1,"5,000",98.010,100.000,"149,500",4,NaN
MT28A,4.85% Melite Finance plc 2028,-,-,-,100.000,"200,000",3,NaN
GP26A,3.9% GAP Group plc 2026,1,"10,000",97.010,100.000,"7,300",1,NaN
IH26B,4% International Hotel Investments plc 2026,1,"15,000",97.600,100.000,"50,900",2,100.000
CB25A,5.25% Central Business Centres plc 2025,1,"10,800",101.500,-,-,-,NaN
MS23A,6% MedservRegis plc 2023,-,-,-,-,-,-,NaN
GP23A,4.25% GAP Group plc 2023,1,"10,000",98.010,-,-,-,NaN
BD24A,4.25% Best Deal Properties Holding plc 2024,1,"10,000",102.500,-,-,-,102.500
PZ26A,3.9% Plaza Centres plc 2026,1,"5,000",100.000,-,-,-,NaN
MB27A,5% MeDirect Bank Malta plc 2027,-,-,-,-,-,-,NaN
MB27B,5% MeDirect Bank Malta plc 2027,-,-,-,-,-,-,NaN
MB29B,4% MeDirect Bank Malta plc 2029,1,"16,000",100.000,-,-,-,NaN

In [166]:
offers_price = offers_price.replace('-', np.nan)
offers_price['Difference'] = offers_price['Best Offer Price'].astype(float)-offers_price['Closing Price'].astype(float)
offers_price['Difference'] = offers_price['Difference'].round(2)
offers_price

,Security Name,Best Bid Count,Best Bid Volume,Best Bid Price,Best Offer Price,Best Offer Volume,Best Offer Count,Closing Price,Comment,Difference
Symbol Code,,,,,,,,,,
MB29A,4% MeDirect Bank Malta plc 2029,NaN,NaN,NaN,99.980,"4,000",1,99.980,yes,0.00
LS31A,4% LifeStar Insurance plc 2031,NaN,NaN,NaN,99.900,"30,000",1,NaN,no,NaN
HF28A,3.85% Hili Finance Company plc 2028,1,"5,000",97.810,99.800,300,1,NaN,no,NaN
HF29A,3.8% Hili Finance Company plc 2029,1,"10,000",97.300,99.800,"78,800",3,99.800,yes,0.00
SH26A,4% Shoreline Mall plc 2026,2,"40,000",98.500,99.800,"5,000",1,NaN,no,NaN
PC26A,3.75% Premier Capital plc 2026,1,"7,400",98.800,99.800,"2,900",1,99.800,yes,0.00
EN29A,4.5% Endo Finance plc 2029,NaN,NaN,NaN,99.500,"50,000",1,NaN,no,NaN
SH32A,4.5% Shoreline Mall plc 2032,1,"10,000",93.010,99.500,"10,000",1,NaN,no,NaN
BV31A,3.75% Bank Of Valletta plc 2031,NaN,NaN,NaN,99.490,"50,000",2,NaN,no,NaN
PH28A,4.15% Phoenicia Finance Company plc 2028,1,"10,000",95.010,99.000,"4,100",1,99.000,yes,0.00
MO31A,3.65% Mizzi Organisation Finance plc 2031,1,"10,000",95.510,98.990,"9,900",1,98.980,yes,0.01
GO31A,3.5% GO plc 2031,1,"10,000",96.010,98.500,"1,600",1,97.500,no,1.00
AP30A,3.25% APS Bank plc 2030,1,"25,000",94.000,98.000,"75,000",1,NaN,no,NaN
MS26A,4.5% MedservRegis plc 2026,1,"40,000",96.000,97.500,"50,000",1,NaN,no,NaN
IH31A,3.65% International Hotel Investments plc 2031,1,"6,500",97.000,97.500,"8,000",2,NaN,no,NaN
BV30B,3.5% Bank Of Valletta plc 2030,1,"10,000",93.000,97.000,"5,000",1,NaN,no,NaN
MS26B,5.75% MedservRegis plc 2026,NaN,NaN,NaN,95.500,"55,000",1,NaN,no,NaN
MI27A,5.25% Mediterranean Investments Holding plc 2027,1,"10,400",102.800,106.000,"5,000",1,NaN,no,NaN
SP29A,4% SP Finance plc 2029,1,"10,000",100.050,105.000,"5,000",1,NaN,no,NaN
AX24A,6% AX Investments plc 2024,1,"37,900",102.000,104.500,"13,300",1,104.000,no,0.50
SA32A,4.55% St Anthony Co plc 2032,1,"85,000",102.500,104.000,"1,500",1,NaN,no,NaN
IH23A,5.8% International Hotel Investments plc 2023,1,"10,000",98.010,104.000,"33,500",3,NaN,no,NaN
IB32A,5% Izola Bank plc 2032,2,"20,300",100.000,104.000,"10,000",1,NaN,no,NaN
IH24A,6% International Hotel Investments plc 2024,1,"26,900",100.500,103.490,"2,000",1,100.500,no,2.99
DN33A,4.75% Dino Fino Finance plc 2033,1,"10,000",100.750,103.000,"15,000",2,NaN,no,NaN
MY31A,4.25% Mercury Projects Finance plc 2031,1,"2,000",101.500,102.900,"7,000",1,NaN,no,NaN
HM24A,5% Hal Mann Vella Group plc 2024,1,"10,000",102.000,102.750,"3,900",1,NaN,no,NaN
IB25A,4.5% Izola Bank plc 2025,NaN,NaN,NaN,102.750,"46,300",1,102.500,yes,0.25
CB27A,4.4% Central Business Centres plc 2027,1,"4,300",101.000,102.750,"10,000",1,NaN,no,NaN
MF24A,5.3% Mariner Finance plc 2024,1,"2,500",102.000,102.600,100,1,102.000,no,0.60
MI23A,5.5% Mediterranean Investments Holding plc 2023,2,"18,000",100.000,102.500,"5,000",1,NaN,no,NaN
IH25A,5.75% International Hotel Investments plc 2025,1,"24,500",101.500,102.500,"4,300",1,NaN,no,NaN
1923A,5.1% 1923 Investments plc 2024,1,"10,000",99.010,102.500,"42,400",1,102.500,yes,0.00
SF27A,3.5% Simonds Farsons Cisk 2027,1,"6,100",100.700,102.500,"21,700",2,100.700,no,1.80
ON34A,4.5% The Ona plc 2034,1,"49,400",102.000,102.400,"25,000",1,102.400,yes,0.00
SM32A,4.65% Smartcare Finance plc 2032,1,"2,000",101.800,102.000,200,1,102.000,yes,0.00
6PM25,5.1% 6pm Holdings plc 2025,2,"32,100",101.000,102.000,300,1,102.000,yes,0.00
VH24A,4.4% Von der Heyden Group Finance p.l.c 2024,1,"13,000",99.510,102.000,"19,000",1,100.500,no,1.50
TM29A,3.75% Tum Finance plc 2029,1,"10,000",97.510,102.000,"4,400",1,NaN,no,NaN
MY32A,4.3% Mercury Projects Finance plc 2032,1,"4,000",101.500,102.000,"30,000",1,101.500,no,0.50
TI24A,5% Tumas Investment plc 2024,1,"15,000",101.550,102.000,"1,000",1,NaN,no,NaN
SD27A,4.35% SD Finance plc 2027,1,"5,000",101.500,102.000,"6,000",1,NaN,no,NaN
HD26A,4.35% Hudson Malta plc 2026,1,"20,000",100.250,102.000,"20,000",1,NaN,no,NaN
EX28A,4% Exalco Finance plc 2028,2,"18,000",101.000,102.000,"27,000",1,NaN,no,NaN
GH27A,4.5% Grand Harbour Marina plc 2027,1,"10,000",100.130,102.000,"3,000",1,NaN,no,NaN
G332A,4.5% G3 Finance plc 2032,1,"3,000",100.500,102.000,"1,800",1,102.000,yes,0.00
FR32A,6% Ferratum Bank plc 2032,1,"7,000",100.000,102.000,"20,000",1,NaN,no,NaN
CC30A,4% Cablenet Communication Systems plc 2030,1,"1,000",101.750,101.990,"2,000",1,NaN,no,NaN
HP25A,4.5% Hili Properties plc 2025,1,900,101.750,101.990,"10,000",1,NaN,no,NaN
MM26A,4.8% Mediterranean Maritime Hub Finance plc 2026,1,"10,000",100.010,101.990,"10,000",1,NaN,no,NaN
SM31A,4.65% Smartcare Finance plc 2031,1,"6,000",100.270,101.800,"14,800",1,101.800,yes,0.00
MR26A,4% Merkanti Holding plc 2026,1,"8,000",100.030,101.750,"10,000",1,100.030,no,1.72
ST29A,3.65% Stivala Group Finance plc 2029,1,"10,000",97.210,101.700,"30,000",1,101.700,yes,0.00
CF26A,4.25% CPHCL Finance plc 2026,1,"8,400",100.270,101.690,"15,700",1,NaN,no,NaN
MP32A,4% Malta Properties Company plc 2032,1,"10,000",100.010,101.500,"10,400",1,NaN,no,NaN
IZ29A,4.25% IZI Finance plc 2029,NaN,NaN,NaN,101.500,"5,100",1,101.500,yes,0.00
ST27A,4% Stivala Group Finance plc 2027,1,"10,000",100.050,101.500,"10,000",1,NaN,no,NaN
IH26A,4% International Hotel Investments plc 2026,1,"7,200",100.110,101.270,"7,400",1,NaN,no,NaN
TI27A,3.75% Tumas Investment plc 2027,1,"4,000",99.500,101.000,"1,500",2,NaN,no,NaN
BR31A,3.9% Browns Pharma Holdings plc 2031,1,"3,000",100.000,101.000,"6,000",1,101.000,yes,0.00
MD26A,4% Midi plc 2026,1,"10,000",100.030,101.000,300,1,NaN,no,NaN
EF27A,4% Eden Finance plc 2027,1,"8,000",100.600,101.000,"7,000",1,NaN,no,NaN
MY27A,3.75% Mercury Projects Finance plc 2027,1,"6,000",100.400,101.000,"8,000",1,100.400,no,0.60
VR27A,3.75% Virtu Finance plc 2027,1,"15,000",100.000,100.970,"5,600",1,NaN,no,NaN
HF27A,4% Hili Finance Company plc 2027,1,"19,000",99.030,100.970,"10,000",1,100.000,no,0.97
DF26A,5% Dizz Finance plc 2026,1,"30,000",100.000,100.800,"8,000",1,100.800,yes,0.00
UF23A,5.3% United Finance plc 2023,1,"10,000",100.000,100.750,"22,500",1,NaN,no,NaN
GP25A,3.7% GAP Group plc 2025,1,"10,000",97.010,100.480,"6,600",1,NaN,no,NaN
CB33A,4% Central Business Centres plc 2033,1,"10,000",98.010,100.250,"27,700",8,NaN,no,NaN
AX29A,3.75% AX Group plc 2029,1,"2,500",100.000,100.250,"48,100",2,NaN,no,NaN
BX27A,3.75% Bortex Group Finance plc 2027,1,100,100.000,100.200,"13,500",1,NaN,no,NaN
AX26A,3.25% AX Group plc 2026,1,"10,000",97.010,100.000,"13,200",1,NaN,no,NaN
AX32A,3.5% AX Real Estate plc 2032,1,"10,000",97.010,100.000,"6,600",1,100.000,yes,0.00
TG26A,5.9% Together Gaming Solutions plc 2026,1,"5,000",99.550,100.000,"2,000",1,100.000,yes,0.00
BN32A,4.5% BNF Bank plc 2032,1,"3,700",1.010,100.000,200,1,NaN,no,NaN
BV30A,3.5% Bank Of Valletta plc 2030,1,"5,000",98.010,100.000,"149,500",4,NaN,no,NaN
MT28A,4.85% Melite Finance plc 2028,NaN,NaN,NaN,100.000,"200,000",3,NaN,no,NaN
GP26A,3.9% GAP Group plc 2026,1,"10,000",97.010,100.000,"7,300",1,NaN,no,NaN
IH26B,4% International Hotel Investments plc 2026,1,"15,000",97.600,100.000,"50,900",2,100.000,yes,0.00
CB25A,5.25% Central Business Centres plc 2025,1,"10,800",101.500,NaN,NaN,NaN,NaN,no,NaN
MS23A,6% MedservRegis plc 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN
GP23A,4.25% GAP Group plc 2023,1,"10,000",98.010,NaN,NaN,NaN,NaN,no,NaN
BD24A,4.25% Best Deal Properties Holding plc 2024,1,"10,000",102.500,NaN,NaN,NaN,102.500,no,NaN
PZ26A,3.9% Plaza Centres plc 2026,1,"5,000",100.000,NaN,NaN,NaN,NaN,no,NaN
MB27A,5% MeDirect Bank Malta plc 2027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN
MB27B,5% MeDirect Bank Malta plc 2027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,NaN
MB29B,4% MeDirect Bank Malta plc 2029,1,"16,000",100.000,NaN,NaN,NaN,NaN,no,NaN

In [172]:
def is_offer_valid(temp):
    if  temp < 0.5:
        return 'background-color: green'
    if  temp > 1:
        return 'background-color: red'

s = offers_price.style.applymap(is_offer_valid, subset=['Difference'])
s